<div class="container">

    <div class="page-header">
        <h1>Title: {{posting.title}}</h1>
        <p class="lead"> </p>
    </div>

    <p> {{posting.description}}  </p>

    <p>By: <strong>{{posting.organization.username}}</strong></p>

    <hr>
  <h3>Certifications</h3>
    <hr>
  <div class="row">
        <ul>
            {{#each posting.requirements}}
                <li>{{this}}
                <!--<a href="/courses" class="pull-right">Get this requirement here</a>-->
                </li>

            {{/each}}
        </ul>
    </div>


    <!--{{#if update}}
    <h3>{{contacts}} Respondents</h3>
        {{#each posting.respondents}}
            <strong>{{this.respondents.username}}</strong>
            <p>{{this.description}}</p>
            {{# each this.certifications}}
                <ul display="inline">
                    <li >{{this}}</li>
                </ul>
            {{/each}}
        {{/each}}
    {{/if}}
-->

    <hr>


    {{#if update}}
        <a href="/job/checkout" class="btn btn-primary pull-right" role="button">Continue</a>
        <!--<button type="submit" class="btn btn-primary">Continue</button>-->
        <a href="/job/update/{{posting._id}}">Edit Job Post</a>
    {{else}}

        <a href="/job/checkout" class="btn btn-primary pull-right" role="button">Contact Employer</a>
    {{/if}}


    <hr>

</div>