<div class="container">

    <div class="page-header">
        <h1>{{application.provider.username}}</h1>
        <p class="lead"> </p>
    </div>

    <h3>Profile</h3>
    <hr>
    <p>
        {{application.description}}

    </p>
    <h3>Certifications</h3>
    <hr>
    <div class="row">
        <ul>
            {{#each application.certifications}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    <hr>
    <div class="well well-sm">
        <p>
            <em>
                <h5>
                    {{#if update}}
                        <strong>
                            Get more certifications <a href="/courses">here</a>  to get more job offers.
                        </strong>
                    {{else}}
                        <strong>
                            Does {{application.provider.username}} have all certifications needed for your job opening?
                            If not, <a href="/courses">get</a> {{application.provider.username}} online course credits
                            to meet your job opening requirements.
                        </strong>
                    {{/if}}

                </h5>
            </em>

        </p>
    </div>


    <hr>
    <h3>Availability</h3>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <ul class="list-group">
                <li class="list-group-item">Mon: 10:00 a.m. - 8:30 p.m.</li>
                <li class="list-group-item">Tue:  2:00 p.m. - 7:00 p.m.</li>
                <li class="list-group-item">Sat:  All day</li>
                <li class="list-group-item">Sun:  All day</li>
            </ul>
        </div>
    </div>

    <hr>
    {{# if update}}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/application/update/{{application._id}}">Edit Job Application</a>
    {{else}}
        <button type="submit"  class="btn btn-primary"></button>
    {{/if}}


    <hr>
    <i class="fa fa-download" aria-hidden="true"></i> Download Resume
</div>

