<div class="row">
    <div class="col-md-5 col-md-offset-3">

        {{#if hasErrors}}
           <div class="alert alert-danger">
               {{#each messages}}
                   <p>{{this}}</p>
               {{/each}}
           </div>
        {{/if}}

    <form action="/users/notification" method="post" id="checkout-form">
         <div class="row">
             <div class="col-xs-12">
                 <div class="form-group">
                     <label for="name">Mobile Number: </label>
                     <input type="tel" id="tel" class="form-control" required name="tel" value="tel">
                </div>
            <hr>
                 {{#if isOrganization}}
                     <h3>I want caregivers to reach me through... </h3>
                 {{else}}
                     <h3>I want employers to reach me through...</h3>
                 {{/if}}

                <div class="notification-types">

                    <label class="checkbox-inline">
                        <input type="checkbox" name="mode" value="{{this}}"> {{this}}
                    </label>

                </div>
             </div>
             <p>Excel CE maintains users' contact information private and secure through out during the their
                 interactions.  Users can obviously decide to exchange their contact information on their own accord.</p>
         </div>
                <button type="submit" class="btn btn-success">Save</button>
    <input type="hidden" name="_csrf" id="_csrf" value="{{csrfToken}}" >
    </form>


</div>
</div>